
*{
   margin: 0;
   padding: 0;
}
html{
   scroll-behavior: smooth;
}
body{
   background-color: rgb(117, 106, 182);
   height: 100vh;
   
}
.SECnd-bg{
   background-color: rgb(172, 135, 197);
   margin-left: 200px;
   margin-right: 200px;
  min-height: 100%;
   width: 70vw;
   position: relative;
   overflow: hidden;

}
  .THI-bg{
      position: absolute;
      background-color:rgb(224, 174, 208);
      width: 60vw;
     min-height: 100%;
      margin: auto;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      margin-top: 50px;
      border-radius: 9px;
      overflow: hidden;
     
   }

  
   

